body{
    background-color: rgb(0, 0, 0);
    overflow: hidden; /*hides scroll*/
}

html {
    position: relative;
    min-width: 1024px;
    min-height: 100px;
    height: 100%;
    }


#making{
    display: block;
    margin-top: 300px;
    font-size: 20px;

    display: flex;

    justify-content: center;

    border: none;
    color:rgb(7, 66, 7);
    background-color: black;
}


.wrapper {
    
    /*This part is important for centering*/
    display: grid;
    place-items: center;
  }
  
.typing-demo {
    width: 8ch;
    animation: typing 2s steps(8), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 35px;
  }
  
@keyframes typing {
    from {
      width: 0
    }
  }
      
@keyframes blink {
    50% {
      border-color: transparent
    }
  }



button{
    width: 20%;
    text-align: center;

    position: absolute;
    top: 45%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    

    display: block;
    outline: none;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border: none;
    color:rgb(7, 66, 7);
    background-color: black;
}

button:hover{
    color:rgb(125, 143, 125);
}

